* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
}

body {
    font-size: 16px;
    background-color: hsl(210, 46%, 95%);
}
.article {
    position: relative;
    width: 1024px;
    margin: 0 auto;
    background-color: #ccc;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    overflow: hidden;
}
.thumbnail {
    display: inline-block;
    position: relative;
    width: 420px;       
    height: 420px; 
}

.thumbnail img{
    z-index: 0;
    width: 420px;
    height: 420px;
    object-fit: cover;
    object-position: 0 0;
}

.article-component {
    background-color: #fff;
    padding: 50px;
    padding-bottom: 0;
}
.article-component h1 {
    font-size: 1.8rem;
}
.article-component > p {
    line-height: 2;
    margin-top: 20px;
    margin-bottom: 20px;
}
.article-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.author {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 80px;
}
.author .avatar{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.author .name-and-date {
    justify-self: center;
}

.share-div > .media {
    background-color: hsl(217, 19%, 35%);
    display: none;
    position: absolute;
}
.share-div > ul > li {
    list-style-type: none;
    display: inline-block;
}
.media {
    border-radius: 5px;
}
.btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: hsl(214, 17%, 51%);
    position: relative;
}
svg {
    margin: 12.5px auto;
    fill: white;
    display: block;
}
svg:hover,
svg:focus {
    fill: red;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}
